* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ------------------header ---------------------*/
#spotifyfanta {
    font-size: 40px;
    color: white;
    margin: 10px;
}
.laterale {
    background-color: black;
    position: relative;
    height: 1000px;
    width: 12%;
    position: fixed;

}
#lista11 {
    margin-left: 15px;
    list-style-type: none;
}
#lista11fantasma {
    margin-left: 15px;
    list-style-type: none;
}
#lista11fantasma li {
    margin: 0;
    padding: 0;
    width: 500px;
    color: #b2b5b8;
}
#lista11fantasma a {
    display: inline-block;
    padding: 4px;
    color: #b2b5b8;
}
#lista11fantasma i {
    margin:4px;
    height: 20px;
    font-size: 15px;
}

#logo {
    height: 40px;
    color: #b2b5b8;
    margin: 10px;
}

#lista11 li {
    margin: 0;
    padding: 0;
    width: 500px;
    color: #b2b5b8;

}
#lista11 a {
    display: inline-block;
    padding: 4px;
    color: #b2b5b8;
    text-decoration: none;
}
#lista11 i {
    margin:4px;
    height: 20px;
    font-size: 15px;
}
#lista22 li {
    margin:6px;
    padding: 1px;
    width: 500px;
    color: #b2b5b8;
    text-decoration: none;

}
#cip {
    display: inline-block;
}
#lista22 a {
    display: inline-block;
    padding: 4px;
    color: #b2b5b8;
    text-decoration: none;
}
#lista22 i {
    margin:4px;
    height: 20px;
    font-size: 15px;
}
#lista22 fa-plus-square {
    height: 10px;
}
#playlist {
    color:#b2b5b8;
    font-size: 15px;
    margin-left: 20px;
}
#lista22 {
    margin-left: 15px;
    list-style-type: none;
}

#aparte {
    color: white;
    list-style-type: none;
    font-size:5px;
    display: inline-block;
}

.lista1-flex {
    /* width: 200px; */
    background-color: black;
    display: flex;
    flex-direction: column;
}
.sinistra-flex {
    background-color: black;
    display: flex;
    flex-direction: column;

}

.laterale, .principale,.player {
  float: left;
  border:1px solid black;
}

.installa-flex {
    /* height: 100px; */
    background-color: black;
    border-bottom: 1px solid #b2b5b8;
    margin: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.daje {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.installa-flex i {
    color:#b2b5b8;
    font-size:15px;
    margin-left: 5px;
    margin-top: 70px;
}
.iconcina-flex {
    margin: 10px;
    background-color: black;
    margin-top: 10px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#app {
    display: inline-block;
    color: #b2b5b8;
    font-size: 15px;
    margin: 6px;

}
#faccina {
    font-size: 30px;
    color: #b2b5b8;
    border-radius: 100px;
}
/* #john {
    color:#b2b5b8;
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
} */
/* -------------main --------------------------------------*/
.lista-flex {
    display: flex;
    justify-content: center;
}
.listetta {
    text-align: center;
    margin-top: 20px;
}
.listetta ul {
    width: 800px;
    display: block;
    margin:0;
    padding: 5px;
    list-style-type: none;
    text-decoration: none;

}
.listetta li {
    display: inline;
    margin:6px;
    padding: 1px;
    text-decoration: none;

}
a:visited {
    color: white;
    text-decoration:none;
}



span:hover {
    color:white;
    cursor: pointer;

}
#app:hover {
    color:white;
    cursor: pointer;
}

.listetta a {
    color:#b2b5b8;
    text-decoration: none;

}
.principale {
    background-color:#141922;
    /* height: 1500px; */
    width:88%;
    z-index: 1;
    position: relative;
    margin-left: 12%;

}
.principale .navbar-default {
    background-color: #2c3e50;
    background-image: none;
    border-color: #2c3e50;
    height: 150px;
}
.scroll {
    height: 100px;
    width: 100%;

}

#gesu {
    left: 12%;
    width: 88%;
    height: 100px;
    background-color: rgba(12,15,20,0.5);
    position: fixed;
}
#upgrade {
     border-radius: 20px;
     width: 200px;
     height:45px;
     color: #b2b5b8;
     background-color:  rgba(12,15,20,0.5);


}
.bottone-flex {
    margin-top: 30px;
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.

/* albummmmmmmmmmmmmmmmmm */
.scritta-flex {

    margin-left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:row;
    background-color: #141922;

}
.scrittine {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:row;
    background-color: #141922;

}


#rece {
    color: #ffffff;
    font-size: 27px;
    margin-left: 20px;

}
#rece2 {
    color: #ffffff;
    font-size: 27px;
    margin-left: 20px;

}
.container-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    background-color: #141922;
    /* justify-content: space-between; */


}
.album img {
    margin: 10px;
    height: 250px;

}


 /* /////////////////test */
.titoli {
    color:white;
    font-size: 17px;
    text-align: center;
}
.sottotitoli {
    color:#b2b5b8;
    font-size: 12px;
    text-align: center;
}
.sottotitoli2 {
    color:#b2b5b8;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;

}
.container2-flex {

    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;
    background-color: #141922;

}
.album2 img {
    margin: 10px;
    height: 250px;


}
.album3 img {
    margin: 10px;
    height: 250px;
    border-radius: 100%;

}



/* footerrrrrrrrrrrrrrrrrrrrrrrrr */
.barra-uno {

    display: flex;
    flex-direction: row;

    width: 30%;
    justify-content:flex-start;
    align-items: center;
    background-color: #282828;
}
.barra-due {

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 34%;
    justify-content:center;
    height: 100px;
    align-items:center;
    background-color: #282828;
}
.speciale-uno  {
    width: 2%;
    background-color: #282828;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:ce;
    align-items: center;
}
.speciale-due  {
    width: 2%;
    background-color: #282828;

    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
#zero {
    margin-top: 20px;
    color: white;
}
#quattro {
    color: white;
    margin-top: 20px;
}


.barra-tre {

    display: flex;
    flex-direction: row;
    background-color: #282828;
    width: 30%;
    justify-content:center;
    align-items: center;
    height: 100px;

}

.barra1 {

    width: 120px;
    background-color: #282828;

}
.barra2 {
    width: 300px;
    margin-top: 20px;

}
.barra22 {
    background-color: grey;
    width: 350px;
    height: 3px;
    position: relative;
    margin-bottom: 30px;
    flex-grow: 1;

}
.barra222 {
    background-color: green;
    width:200px;
    height: 3px;
    margin-top:12px;
    position: absolute;
    display: none;
    margin-left: -223px;

}

#dot {
    color: grey;
    margin-left: 195px;
    
}

.barra-due:hover .barra222 {
    display: block;
}
.barra333 {
    background-color: green;
    width:90px;
    height: 3px;
    position: absolute;
    display: none;
    /* margin-left: -223px; */

}
.barra-tre:hover .barra333 {
    display: block;
}
.barra33 {
    background-color: grey;
    width:200px;
    height: 3px;
    /* margin-top: 30px; */
    border-radius: 50px;
    position: relative;

}
.barra1>a {
    font-size: 13px;
    margin: 10px;
}


.barra2>a {
    font-size: 18px;
    margin: 10px;
}
.barra3>a {
    font-size: 16px;
    margin: 10px;
}
#piccola {
    height: 100px;
    width: 80px;
    margin: 20px;

}
.container-flex2{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        /* justify-content: flex-start;
        background-color: #141922; */

}


/* visited link */
/* .barra1>a :visited {
  color: blue;
}

 */



/* ///////////////////////////////////////////vecchio */
.fine a {
    color: white;
}

.player {
    /* height: 500px; */
    /* background-color: #282828; */
    width: 100%;

}
.barra {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.fine {

}
#madonna {
    position: fixed;
    background-color: #282828;
}
.lettore-flex .navbar-default {
    background-color: #2c3e50;
    background-image: none;
    border-color: #2c3e50;
    height: 100px;
}
#piccola {
    height: 50px;
    margin: 20px;
}

/* ............................. */
.immagineplus {
    opacity: 0.5;
    border-radius: 100%;
}
.album3 .immagineplus {
    position: absolute;
    width:100px;
    height:100px;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
}
.album2 .immagineplus {
    position: absolute;
    width:100px;
    height:100px;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;
}
.album .immagineplus {
    position: absolute;
    width:100px;
    height:100px;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    display:none;

}
.album:hover .immagineplus  {
    display: block;

}
.album2:hover .immagineplus {
    display: block;
}

.album3:hover .immagineplus {
    display: block;
}
.album {

    position: relative;
}

.album2 {
    position: relative;
}
.album3 {
    position: relative;
}
.player {
    margin-top: 90px;
}


@media screen and  (max-width: 767px)  {
    .album img {
          width: 250px;

      }

      .listetta li {
          font-size: 70%;
          flex-wrap: wrap;
      }
      .principale {

          height: 2000px;

      }
      .lista1-flex  {

       /* display: none; */

      }
      .sinistra-flex li  {

         display: none;

      }
      .sinistra #playlist {
          display: none;
      }
      #lista11 {
          display: none;
      }
      #playlist {
          display: none;
      }
      .iconcina-flex {
          display: none;
      }
      .installa-flex {
          display: none;
      }
      #logo {
          display: none;
      }
      .daje #app {
          display: none;
      }
      .laterale>.installa-flex , .iconcina-flex {
          margin-top: 500px;

      }
      .barra {
         font-size: 30%;
      }
      .fine i {
          font-size: 5px;
      }
      .selettori i {
          font-size: 4px;
      }
      .listetta li {
          font-size: 20px;

      }
      .listetta>.cri {
          width: 600px;

      }

      .sel  {
          display: none;
      }
      .disopra {
          display: none;
      }
      .selettoripic {
          display: none;
      }

      .disotto {
          display: none;

      }
      .principale {
        padding-bottom: 1800px;
      }



}
@media screen and (min-width:768px) and (max-width: 991px)  {
.container-flex  {
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction:row;
        display: flex;

    }
    .album img {
          width: 250px;
          margin: 10px;

      }
      .lista1-flex {

        font-size:80%;
        margin-left: -10px;

      }
      .sinistra-flex li {

         font-size: 90%;

      }
      #lista11fantasma {
          display: none;
      }
      .principale {

          height: 2000px;

      }
      .listetta li {
          font-size: 18px;

      }
      .listetta>.cri {
          width: 700px;

      }
      #lista11> li {
          font-size: 8px;


      }
      #lista22>li {
         font-size: 9px;
      }
      .principale {
        padding-bottom: 1800px;
      }



}

@media screen and (min-width:992px) and (max-width: 1200px)  {

    .container-flex  {
        flex-wrap: wrap;
    }

    #lista11fantasma {
        display: none;
    }
   .album img {
         width: 180px;
         margin: 10px;

     }
     .lista1-flex {

       font-size:80%;
       margin-left: -10px;

     }
     .sinistra-flex li {

        font-size: 90%;

     }
     .listetta li {
         font-size: 20px;
     }



}
@media screen and (min-width:1192px)  {


    #lista11fantasma {
        display: none;
    }
}
@media screen and (min-width:768px)  {

    #spotifyfanta {
        display: none;
    }
}
